* {
  margin: 0;
}
html,
body {

  --black: hsl(240,6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/backgroundRED.svg) no-repeat center/cover;
  width: 100vw; /* viewport width*/
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey)
}

.avatar {
  width: 10rem; /*tamanho proporcional com os pixels da página*/
  margin: 11.5rem auto 0;
  position: relative; /**/

}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1; /*Eixo Z - profundidade*/
}

.avatar > img { /*Sinal de maior pega a imagem do primeiro nível*/
  width: 10rem;
  height: 11.5rem; 
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /*Ver "clippy css" */
}

.rotate-center {
	-webkit-animation: rotate-center 15s linear infinite ;
	        animation: rotate-center 15s linear infinite ;
}


 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


h1 {
  font-size: 1.5rem;

  margin-top: 5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;

  display: flex; /*deixa um elemento ao lado do outro*/
  gap: 0.5rem;
  justify-content: center;

}
